body {
  font-family: sans-serif;
  background-image: url("../images/Vinkse.jpg");
}

h1 {
  padding: 12px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
h2 {
  padding: 12px;
  background-color: blueviolet;
  color: white;
  border-radius: 10px;
}

h3 {
  padding: 12px;
  background-color: violet;
  color: white;
  border-radius: 10px;
}

ul {
  background-color: #fff;
}

ul.menu {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
}

ul.menu li {
  list-style-type: none;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}

ul.menu li a {
  color: white;
  text-decoration: none;
}

ul.menu li a:hover {
  color: #99ddff;
  text-decoration: underline;
}

ul.menu li.selected {
  color: yellow;
}

article {
  float: left;
  border-style: solid;
  border-width: 1px;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fff;
}

aside {
  float: left;
  border-style: solid;
  border-width: 1px;
  padding: 1em;
  border-radius: 1em;
  background-color: #ffffc0;
}
tr {
  background-color: rgb(197, 241, 227);
}
table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}
th,
td {
  vertical-align: top;
  padding: 0.5em;
  text-align: left;
}
marquee {
  color: rgb(242, 156, 250);
  font-size: 3em;
}
